body
    background-image: url('../images/luoxh.jpg')
    background-attachment: fixed
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-color: #fff